/* google fonts url */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap');


/* reset code starts  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family : "Nunito",sans-serif;
    font-weight: 400;
}
/* reset code ends  */


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 32rem;
    height: 20rem;
    background-color :cadetblue;
    border-radius: 0.8rem;
    padding : 1.5rem;
    color : white;
    box-shadow : 0.1rem 0.1rem 0.1rem #222,-0.1rem 0 0.1rem #222;
    font-size: 1rem;
}

.card:hover{
    box-shadow : 0.2rem 0.2rem 0.2rem #222,-0.2rem 0 0.2rem #222;
    transition: all 0.3s;

}

.card-title{
    text-align: center;
    color: white;
    margin-bottom : 1rem;
    font-size: 2rem;
}

.form-field{
    margin-bottom : 1rem;
}

input{
    border: none;
    border : 0.1rem solid;
    border-radius: 0.6rem;
    padding : 0.2rem;
    background-color: cadetblue;
    color: white;
    cursor : pointer;
    font-size: 1.2 rem;
    width: 45%;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin : 0 0.7rem 1rem 0;
    align-items: center;
}

.btn{
    border: none;
    border : 0.1rem solid;
    border-radius: 0.6rem;
    padding : 0.2rem;
    background-color: cadetblue;
    cursor : pointer;
    color: white;
    transition: all 0.3s;
    font-size: 1.2rem;
}

.btn:hover{
    background-color: black;
    color: white;
}

p{
    text-align: center;
}

.large-text{
    font-size: 1.5rem;
    color:beige;
}